@import "./color.scss";
@import "./mixin.scss";
@import "./font.scss";

//  https://m.facebook.com/ 여기 참고해서 css 완료하기.

@include mobile {
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .feed-header {
    .feed-header-wrap {
      width: 100%;
      margin-top: 50px;

      .feed-official-wrap {
        margin: 0 auto;
        width: 80%;
        min-height: 200px;
        border-radius: 40px;
        box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
          0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
        display: block;
        text-align: center;
        padding-top: 10px;
        .official-wrap {
          display: block;
          .official {
            font-family: $black-han-sans;
            font-size: 40px;
          }
        }
        .official-content-wrap {
          display: block;
          text-align: left;
          padding-left: 30px;
          padding-right: 30px;
          .official-content {
            white-space: pre-line;
            font-family: $spoqa-han-sans;
            font-weight: normal;
            font-size: 13px;
          }
        }
      }
      .feed-write-btn-wrap {
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;
        text-align: center;
        border-bottom: 10px solid #eaebee;
        height: 70px;
        .feed-write-btn {
          font-family: $black-han-sans;
          color: green;
          font-size: 25px;
        }
      }
    }
  }
  .feed {
    display: block;
    width: 100%;
    background-color: #eaebee;
    .content-wrap {
      margin: 0 0 8px;
      position: relative;
      display: block;
      font-size: 14px;
      line-height: 18px;
      background: #ffffff;
      border-bottom: 10px solid #eaebee;
      margin-top: -1px;

      // ** contents body part **
      .content-body-wrap {
        // *** contents header part ***
        .content-header {
          font-family: $spoqa-han-sans;
          font-size: 13px;
          line-height: 17px;
          margin: 0 0 12px;
          padding: 10px 10px 0;
          display: flex;
          align-items: flex-start;
          .content-profile-wrap-wrap {
            padding-right: 8px;
            .content-profile-wrap {
              position: relative;
              .content-profile {
                background-repeat: no-repeat center;
                border-radius: 50%;
                background-size: 100% 100%;
                width: 40px;
                height: 40px;
                border: 0;
                display: inline-block;
                vertical-align: top;
              }
            }
          }
          .content-title-wrap-wrap-wrap {
            flex: 1;
            min-width: 0;
            width: 0;
            align-items: center;
            display: flex;
            .content-title-wrap-wrap {
              width: 100%;
              .content-title-wrap {
                align-items: center;
                direction: ltr;
                display: flex;
                .content-name-wrap {
                  flex: 1;
                  min-width: 0;
                  width: 0;
                  .content-name {
                    font-size: 14px;
                    line-height: 17px;
                    padding: 0;
                    font-weight: bold;
                    color: #1d2129;
                    margin: 0;
                  }
                  .content-date-wrap {
                    color: #90949c;
                    font-size: 12px;
                    line-height: 16px;
                    position: relative;
                    margin-top: -0.3333em;
                    top: 0.3333em;
                    .content-date {
                      font-weight: 400;
                    }
                  }
                }
              }
            }
          }
        }
        // *** content-content ***
        .content-content-wrap {
          position: relative;
          margin: 8px 0;
          padding: 0 10px;

          .content-content {
            white-space: pre-line;
            margin-bottom: 0;
            margin: 0;
            padding: 0;
            font-size: 14px;
          }
        }
        // *** contents img part ***
        .content-img-wrap {
          display: block;
          max-width: 375px;
          max-height: 375px;
          overflow: hidden;
          position: relative;
          margin: 0 auto;
          text-align: center;
          height: auto;
          border: 0;
          background: #f2f2f2;

          // margin: 8px 0;
          // padding: 0 10px;
          .content-img {
            // height: auto;
            border: 0;
            vertical-align: top;
            height: 100%;
            min-height: 100%;
            min-height: 0;
            margin-top: 0px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            // padding-bottom: 100%;
            width: 100%;
            display: inline-block;
          }
        }
        // *** content-footer part ***
        .content-footer {
          .content-footer-top-wrap-wrap {
            margin: 10px;
            font-size: 14px;
            .content-footer-top-wrap {
              color: #616770;
              .content-footer-top-like {
                display: inline-block;
                .content-footer-top-like-text {
                  font-family: $spoqa-han-sans;
                }
              }
              .content-footer-top-comment {
                display: inline-block;
                float: right;
                .content-footer-top-comment-text {
                  font-family: $spoqa-han-sans;
                }
              }
            }
          }
          .content-footer-bottom-wrap {
            background: none;
            color: #616770;
            text-align: center;

            .content-footer-bottom-like-wrap {
              border-top: 1px solid #eaebee;
              display: inline-block;
              width: 50%;
              padding: 6px 8px 8px 8px;
              text-align: center;

              .content-footer-bottom-like-text {
                font-family: $spoqa-han-sans;
                font-weight: normal;
                font-size: 12px;
              }
            }
            .content-footer-bottom-comment-wrap {
              border-top: 1px solid #eaebee;
              width: 50%;

              display: inline-block;
              padding: 6px 8px 8px 8px;
              text-align: center;

              .content-footer-bottom-comment-text {
                font-family: $spoqa-han-sans;
                font-weight: normal;
                font-size: 12px;
              }
            }
          }
          .comment-wrap {
            margin-top: 15px;
            .comment-header {
              height: 50px;
              line-height: 50px;
              .comment-profile-wrap {
                padding-left: 20px;
                display: inline-block;
                .comment-profile {
                  background-repeat: no-repeat center;
                  background-color: #eaebee;
                  border-radius: 50%;
                  background-size: 100% 100%;
                  width: 40px;
                  height: 40px;
                  border: 0;
                }
              }
              .comment-name-wrap {
                display: inline-block;
                padding-left: 10px;
                .comment-name {
                  font-family: $spoqa-han-sans;
                  font-weight: bold;
                }
              }
              .comment-date-wrap {
                float: right;
                padding-right: 20px;
                .comment-date {
                  font-family: $spoqa-han-sans;
                  font-weight: lighter;
                }
              }
            }
            .comment-comment-wrap {
              background-color: white;

              margin-top: 10px;
              margin-left: 20px;
              margin-right: 20px;
              padding-left: 10px;
              padding-top: 10px;
              min-height: 50px;
              margin-bottom: 10px;
              box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
                0 4px 24px 0 rgba(0, 0, 33, 0.05),
                0 0 1px 0 rgba(0, 0, 33, 0.09);
              border-radius: 25px;
              .comment-comment {
                font-family: $spoqa-han-sans;
                font-weight: normal;
              }
            }
          }
          .comment-form-wrap {
            margin-top: 20px;
            margin-left: 20px;
            .comment-form {
              .comment-input-wrap {
                display: inline-block;
                width: 70%;
                min-height: 60px;
                box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
                  0 4px 24px 0 rgba(0, 0, 33, 0.05),
                  0 0 1px 0 rgba(0, 0, 33, 0.09);
                .comment-input {
                  width: 100%;
                  min-height: 60px;
                }
              }
              .comment-btn-wrap {
                display: inline-block;
                padding-left: 10px;
                width: 25%;
                text-align: center;
                .comment-btn {
                  font-family: $black-han-sans;
                  font-size: 20px;
                  color: #1f4df4;
                }
              }
            }
          }
        }
      }
    }
  }
  .imgModal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: $tadaGrey;
    vertical-align: middle;
    text-align: center;
    .modal-img-wrap {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      .modal-img {
        width: 100%;
        // background-size: 100% 100%;
      }
    }
  }
}
@include tablet {
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .feed {
    width: 100%;
    background-color: #eaebee;
    // height: 100rem;

    .content-wrap {
      margin: 0 0 8px;
      position: relative;
      display: block;
      font-size: 14px;
      line-height: 18px;
      background-color: #eaebee;
      background: #ffffff;
      border-bottom: 1px solid transparent;
      margin-top: -1px;

      // ** contents body part **
      .content-body-wrap {
        // *** contents header part ***
        .content-header {
          font-size: 13px;
          line-height: 17px;
          margin: 0 0 12px;
          padding: 10px 10px 0;
          display: flex;
          align-items: flex-start;
          .content-profile-wrap-wrap {
            padding-right: 8px;
            .content-profile-wrap {
              position: relative;
              .content-profile {
                background-repeat: no-repeat center;
                border-radius: 50%;
                background-size: 100% 100%;
                width: 40px;
                height: 40px;
                border: 0;
                display: inline-block;
                vertical-align: top;
              }
            }
          }
          .content-title-wrap-wrap-wrap {
            flex: 1;
            min-width: 0;
            width: 0;
            align-items: center;
            display: flex;
            .content-title-wrap-wrap {
              width: 100%;
              .content-title-wrap {
                align-items: center;
                direction: ltr;
                display: flex;
                .content-name-wrap {
                  flex: 1;
                  min-width: 0;
                  width: 0;
                  .content-name {
                    font-size: 14px;
                    line-height: 17px;
                    padding: 0;
                    font-weight: bold;
                    color: #1d2129;
                    margin: 0;
                  }
                  .content-date-wrap {
                    color: #90949c;
                    font-size: 12px;
                    line-height: 16px;
                    position: relative;
                    margin-top: -0.3333em;
                    top: 0.3333em;
                    .content-date {
                      font-weight: 400;
                    }
                  }
                }
              }
            }
          }
        }
        // *** content-content ***
        .content-content-wrap {
          position: relative;
          margin: 8px 0;
          padding: 0 10px;

          .content-content {
            white-space: pre-line;
            margin-bottom: 0;
            margin: 0;
            padding: 0;
            font-size: 14px;
          }
        }
        // *** contents img part ***
        .content-img-wrap {
          display: block;
          max-width: 375px;
          max-height: 375px;
          overflow: hidden;
          position: relative;
          margin: 0 auto;
          text-align: center;
          height: auto;
          border: 0;
          background: #f2f2f2;

          // margin: 8px 0;
          // padding: 0 10px;
          .content-img {
            // height: auto;
            border: 0;
            vertical-align: top;
            height: 100%;
            min-height: 100%;
            min-height: 0;
            margin-top: 0px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            // padding-bottom: 100%;
            width: 100%;
            display: inline-block;
          }
        }
        // *** content-footer part ***
        .content-footer {
          .content-footer-top-wrap-wrap {
            margin: 10px;
            font-size: 14px;
            .content-footer-top-wrap {
              color: #616770;
              .content-footer-top-like {
                display: inline-block;
                .content-footer-top-like-text {
                }
              }
              .content-footer-top-comment {
                display: inline-block;
                float: right;
                .content-footer-top-comment-text {
                }
              }
            }
          }
          .content-footer-bottom-wrap {
            background: none;
            color: #616770;
            text-align: center;

            .content-footer-bottom-like-wrap {
              border-top: 1px solid #eaebee;
              display: inline-block;
              width: 50%;
              margin: -6px -8px -8px -8px;
              padding: 6px 8px 8px 8px;
              text-align: center;
              font-weight: bold;
              font-size: 15px;

              .content-footer-bottom-like-text {
                font-weight: bold;
                font-size: 15px;
              }
            }
            .content-footer-bottom-comment-wrap {
              border-top: 1px solid #eaebee;
              width: 50%;
              margin: -6px -8px -8px -8px;
              display: inline-block;
              padding: 6px 8px 8px 8px;
              text-align: center;

              .content-footer-bottom-like-comment {
                font-weight: bold;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
  .imgModal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: $tadaGrey;
    vertical-align: middle;
    text-align: center;
    .modal-img-wrap {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      .modal-img {
        width: 100%;
        // background-size: 100% 100%;
      }
    }
  }
}

@include desktop {
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .feed {
    width: 100%;
    background-color: #eaebee;
    // height: 100rem;

    .content-wrap {
      margin: 0 0 8px;
      position: relative;
      display: block;
      font-size: 14px;
      line-height: 18px;
      background-color: #eaebee;
      background: #ffffff;
      border-bottom: 1px solid transparent;
      margin-top: -1px;

      // ** contents body part **
      .content-body-wrap {
        // *** contents header part ***
        .content-header {
          font-size: 13px;
          line-height: 17px;
          margin: 0 0 12px;
          padding: 10px 10px 0;
          display: flex;
          align-items: flex-start;
          .content-profile-wrap-wrap {
            padding-right: 8px;
            .content-profile-wrap {
              position: relative;
              .content-profile {
                background-repeat: no-repeat center;
                border-radius: 50%;
                background-size: 100% 100%;
                width: 40px;
                height: 40px;
                border: 0;
                display: inline-block;
                vertical-align: top;
              }
            }
          }
          .content-title-wrap-wrap-wrap {
            flex: 1;
            min-width: 0;
            width: 0;
            align-items: center;
            display: flex;
            .content-title-wrap-wrap {
              width: 100%;
              .content-title-wrap {
                align-items: center;
                direction: ltr;
                display: flex;
                .content-name-wrap {
                  flex: 1;
                  min-width: 0;
                  width: 0;
                  .content-name {
                    font-size: 14px;
                    line-height: 17px;
                    padding: 0;
                    font-weight: bold;
                    color: #1d2129;
                    margin: 0;
                  }
                  .content-date-wrap {
                    color: #90949c;
                    font-size: 12px;
                    line-height: 16px;
                    position: relative;
                    margin-top: -0.3333em;
                    top: 0.3333em;
                    .content-date {
                      font-weight: 400;
                    }
                  }
                }
              }
            }
          }
        }
        // *** content-content ***
        .content-content-wrap {
          position: relative;
          margin: 8px 0;
          padding: 0 10px;

          .content-content {
            white-space: pre-line;
            margin-bottom: 0;
            margin: 0;
            padding: 0;
            font-size: 14px;
          }
        }
        // *** contents img part ***
        .content-img-wrap {
          display: block;
          max-width: 375px;
          max-height: 375px;
          overflow: hidden;
          position: relative;
          margin: 0 auto;
          text-align: center;
          height: auto;
          border: 0;
          background: #f2f2f2;

          // margin: 8px 0;
          // padding: 0 10px;
          .content-img {
            // height: auto;
            border: 0;
            vertical-align: top;
            height: 100%;
            min-height: 100%;
            min-height: 0;
            margin-top: 0px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            // padding-bottom: 100%;
            width: 100%;
            display: inline-block;
          }
        }
        // *** content-footer part ***
        .content-footer {
          .content-footer-top-wrap-wrap {
            margin: 10px;
            font-size: 14px;
            .content-footer-top-wrap {
              color: #616770;
              .content-footer-top-like {
                display: inline-block;
                .content-footer-top-like-text {
                }
              }
              .content-footer-top-comment {
                display: inline-block;
                float: right;
                .content-footer-top-comment-text {
                }
              }
            }
          }
          .content-footer-bottom-wrap {
            background: none;
            color: #616770;
            text-align: center;

            .content-footer-bottom-like-wrap {
              border-top: 1px solid #eaebee;
              display: inline-block;
              width: 50%;
              margin: -6px -8px -8px -8px;
              padding: 6px 8px 8px 8px;
              text-align: center;
              font-weight: bold;
              font-size: 12px;

              .content-footer-bottom-like-text {
              }
            }
            .content-footer-bottom-comment-wrap {
              border-top: 1px solid #eaebee;
              width: 50%;
              margin: -6px -8px -8px -8px;
              display: inline-block;
              padding: 6px 8px 8px 8px;
              text-align: center;
              font-weight: bold;
              font-size: 12px;

              .content-footer-bottom-like-comment {
              }
            }
          }
        }
      }
    }
  }
  .imgModal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    background-color: $tadaGrey;
    vertical-align: middle;
    text-align: center;
    .modal-img-wrap {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      .modal-img {
        width: 100%;
        // background-size: 100% 100%;
      }
    }
  }
}
