@import "./color.scss";
@import "./mixin.scss";
@import "./font.scss";

//  https://m.facebook.com/ 여기 참고해서 css 완료하기.

@include mobile {
  .fullscreen-content {
    position: absolute;
    height: 100%;
    width: 100%;

    .fullscreen-img-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      .fullscreen-img {
        width: 100%;
        width: 100%;
      }
    }
    .fullscreen-content-wrap {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.9);
      text-align: center;
      .fullscreen-content-name-wrap {
        margin-top: 10%;
        width: 100%;
        .fullscreen-content-name {
          font-family: $spoqa-han-sans;
          font-size: 30px;
          color: white;
          font-weight: bold;
        }
      }
      .fullscreen-content-content-wrap-long {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: left;
        margin-top: 30px;
        .fullscreen-content-content-long {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 13px;
          color: white;
          line-height: 1.3rem;
        }
      }
      .fullscreen-content-content-wrap {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        margin-top: 30px;
        .fullscreen-content-content {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 24px;
          color: white;
        }
      }
    }
  }
  .feed {
    width: 100%;
    background-color: #ffffff;

    // 금요기도회 로고 이미지
    .friday-prayer-img-wrap {
      margin: 0 auto;
      text-align: center;
      width: 80%;
      background-color: white;
      margin-bottom: 30px;
      .friday-prayer-img {
        width: 80%;
        background-size: 100% 100%;
      }
    }

    // btn
    .btn-wrap {
      width: 100%;
      padding-top: 40px;
      margin: 0 auto;
      margin-top: 10px;
      .write-btn-wrap {
        display: inline-block;
        width: 50%;
        text-align: center;
        .write-btn {
          font-family: $black-han-sans;
          font-size: 30px;
          color: #1f4df4;
        }
      }
      .fullscreen-btn-wrap {
        display: inline-block;
        width: 50%;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 40px;
        .fullscreen-btn {
          font-family: $black-han-sans;
          font-size: 30px;
        }
      }
    }

    .pray-form-wrap {
      width: 100%;
      text-align: center;
      .pray-content-wrap {
        width: 100%;
        text-align: center;
      }
      .pray-content-btn-wrap {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: white;
        .pray-content-btn {
          width: 100%;
        }
      }
    }
    .praycontent {
      box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
        0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
      background-color: white;
      width: 95%;
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      margin-top: 15px;
      .praycontent-wrap {
        height: 60px;
        line-height: 60px;

        .praycontent-header-wrap {
          .praycontent-header-profile-wrap {
            padding-left: 15px;
            display: inline-block;
            .praycontent-header-profile {
              background-repeat: no-repeat center;
              background-color: #eaebee;
              border-radius: 50%;
              background-size: 100% 100%;
              width: 40px;
              height: 40px;
              border: 0;
            }
          }
          .praycontent-header-name-wrap {
            padding-left: 10px;
            display: inline-block;
            .praycontent-header-name {
              font-size: 18px;
              font-family: $spoqa-han-sans;
              font-weight: normal;
            }
          }
          .praycontent-header-date-wrap {
            padding-right: 10px;
            float: right;
            .praycontent-header-date {
              font-size: 16px;
              font-family: $spoqa-han-sans;
              font-weight: lighter;
            }
          }
        }
      }
      .praycontent-content-wrap {
        .praycontent-content {
          font-size: 16px;
          font-family: $spoqa-han-sans;
          font-weight: lighter;
          white-space: pre-line;
        }
      }
    }
  }
}
@include tablet {
  .fullscreen-content-wrap {
    text-align: center;

    .fullscreen-content-name {
      font-size: 50px;
      color: white;
      font-weight: bold;
    }
    .fullscreen-content-content {
      font-size: 40px;
      color: white;
    }
  }
}

@include desktop {
  .fullscreen-content-wrap {
    text-align: center;

    .fullscreen-content-name {
      font-family: $black-han-sans;
      font-size: 80px;
      color: white;
    }
    .fullscreen-content-content {
      margin-top: 30px;
      font-size: 40px;
      color: white;
      white-space: pre-line;
    }
  }
}
