@import "./color.scss";
@import "./mixin.scss";
@import "./font.scss";

//  https://m.facebook.com/ 여기 참고해서 css 완료하기.

@include mobile {
  .fullscreen-content {
    position: absolute;
    height: 100%;
    width: 100%;

    .fullscreen-img-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      .fullscreen-img {
        width: 100%;
        width: 100%;
      }
    }
    .fullscreen-content-wrap {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.9);
      text-align: center;
      .fullscreen-content-name-wrap {
        margin-top: 10%;
        width: 100%;
        .fullscreen-content-name {
          font-family: $spoqa-han-sans;
          font-size: 30px;
          color: white;
          font-weight: bold;
        }
      }

      // fullscreen 시 길이에 따라 다르게 보여주려는 것임.
      // .fullscreen-content-content-wrap-long {
      //   width: 100%;
      //   padding-left: 10%;
      //   padding-right: 10%;
      //   text-align: left;
      //   margin-top: 30px;
      //   .fullscreen-content-content-long {
      //     white-space: pre-line;
      //     font-family: $spoqa-han-sans;
      //     font-weight: normal;
      //     font-size: 13px;
      //     // font-size: 1rem;
      //     color: white;
      //     line-height: 1.3rem;
      //   }
      // }
      .fullscreen-content-content-300-wrap {
        width: 100%;
        padding-left: 23%;
        padding-right: 20%;
        text-align: left;
        margin-top: 0px;
        .fullscreen-content-content-300 {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 6px;
          line-height: 12px;
          color: white;
        }
      }

      .fullscreen-content-content-200-wrap {
        width: 100%;
        padding-left: 24%;
        padding-right: 20%;
        text-align: left;
        margin-top: 20px;
        .fullscreen-content-content-200 {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 8px;
          line-height: 14px;
          color: white;
        }
      }
      .fullscreen-content-content-100-wrap {
        width: 100%;
        padding-left: 27%;
        padding-right: 20%;
        text-align: left;
        margin-top: 23px;
        .fullscreen-content-content-100 {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: white;
        }
      }
      .fullscreen-content-content-50-wrap {
        width: 100%;
        padding-left: 21%;
        padding-right: 10%;
        text-align: left;
        margin-top: 30px;
        .fullscreen-content-content-50 {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 18px;
          line-height: 30px;
          color: white;
        }
      }
      .fullscreen-content-content-20-wrap {
        width: 100%;
        padding-left: 27%;
        padding-right: 10%;
        text-align: left;
        margin-top: 40px;
        .fullscreen-content-content-20 {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 25px;
          line-height: 35px;
          color: white;
        }
      }
      .fullscreen-content-content-wrap {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        margin-top: 50px;
        .fullscreen-content-content {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 30px;
          line-height: 40px;
          color: white;
        }
      }
    }
  }

  .friday-feed {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;

    // 금요기도회 날짜
    .friday-date-wrap {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      .friday-date {
        font-family: $spoqa-han-sans;
        font-size: 35px;
        font-weight: lighter;
        // color: #2e5fd2;
      }
    }
    // 금요기도회 로고 이미지
    .friday-prayer-img-wrap {
      margin: 0 auto;
      text-align: center;
      width: 80%;
      background-color: white;
      margin-bottom: 30px;
      .friday-prayer-img {
        width: 80%;
        background-size: 100% 100%;
      }
    }

    // btn
    .btn-wrap {
      width: 100%;
      padding-top: 40px;
      margin: 0 auto;
      margin-top: 10px;
      .write-btn-wrap {
        display: inline-block;
        width: 50%;
        text-align: center;
        .write-btn {
          font-family: $black-han-sans;
          font-size: 30px;
          color: #1f4df4;
        }
      }
      .fullscreen-btn-wrap {
        display: inline-block;
        width: 50%;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 40px;
        .fullscreen-btn {
          font-family: $black-han-sans;
          font-size: 30px;
        }
      }
    }

    .pray-form-wrap {
      width: 100%;
      text-align: center;
      .pray-content-wrap {
        width: 100%;
        text-align: center;
        .form-control {
          font-family: $spoqa-han-sans;
          font-size: 14px;
        }
      }
      .pray-content-btn-wrap {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: white;
        .pray-content-btn {
          width: 100%;
        }
      }
    }
    .praycontent {
      box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
        0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
      background-color: white;
      width: 95%;
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      margin-top: 15px;
      .praycontent-wrap {
        height: 60px;
        line-height: 60px;

        .praycontent-header-wrap {
          .praycontent-header-profile-wrap {
            padding-left: 15px;
            display: inline-block;
            .praycontent-header-profile {
              background-repeat: no-repeat center;
              background-color: #eaebee;
              border-radius: 50%;
              background-size: 100% 100%;
              width: 40px;
              height: 40px;
              border: 0;
            }
          }
          .praycontent-header-name-wrap {
            padding-left: 10px;
            display: inline-block;
            .praycontent-header-name {
              font-size: 18px;
              font-family: $spoqa-han-sans;
              font-weight: normal;
            }
          }
          .praycontent-header-date-wrap {
            padding-right: 10px;
            float: right;
            .praycontent-header-date {
              font-size: 16px;
              font-family: $spoqa-han-sans;
              font-weight: lighter;
            }
          }
        }
      }
      .praycontent-content-wrap {
        padding-left: 20px;
        padding-right: 10px;
        .praycontent-content {
          font-size: 16px;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          white-space: pre-line;
        }
      }
      .praycontent-content-btn-wrap {
        width: 100%;
        text-align: right;
        padding-right: 20px;
        .praycontent-content-modify-btn-wrap {
          margin-right: 20px;
          display: inline-block;
          .praycontent-content-modify-btn {
            font-size: 18px;
            font-family: $black-han-sans;
            color: green;
          }
        }
        .praycontent-content-delete-btn-wrap {
          display: inline-block;
          .praycontent-content-delete-btn {
            font-size: 18px;
            font-family: $black-han-sans;
            color: red;
          }
        }
      }
    }
    .pagination-wrap {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
      .before-wrap {
        text-align: center;
        width: 50%;
        display: inline-block;
        .before {
          font-family: $black-han-sans;
          font-size: 30px;
          font-weight: normal;
        }
      }
      .next-wrap {
        text-align: center;
        width: 50%;
        display: inline-block;
        .next {
          font-family: $black-han-sans;
          font-size: 30px;
          font-weight: normal;
        }
      }
    }

    //  한 번에 열기 와 시간 조절 기능
    .feature-wrap {
      width: 100%;
      margin-bottom: 50px;
      .openContent-wrap {
        width: 50%;
        display: inline-block;
        text-align: center;
        .openContent {
          width: 100%;
          font-family: $black-han-sans;
          font-size: 30px;
        }
      }
      .timeClose-btn-wrap {
        width: 50%;
        display: inline-block;
        text-align: center;
        .timeClose-btn {
          width: 100%;
          font-family: $black-han-sans;
          font-size: 30px;
          color: red;
        }
      }
      .timeInput-wrap {
        margin-top: 50px;
        margin-bottom: 30px;
        width: 100%;
        display: block;
        text-align: center;
        font-family: $black-han-sans;
        .timeInput {
          width: 50%;
          display: inline-block;
          font-size: 40px;
          border: 1px solid #222222;
        }
        .timeInput-text {
          padding-left: 20px;
          display: inline-block;
          font-size: 40px;
        }
        .timeSubmit-btn-wrap-wrap {
          width: 50%;
          display: inline-block;
          .timeSubmit-btn-wrap {
            width: 100%;
            padding-top: 30px;
            .timeSubmit-btn {
              font-family: $black-han-sans;
              font-size: 30px;
              &:hover {
                color: grey;
              }
            }
          }
        }
      }
      .controlTime-wrap {
        width: 50%;
        display: inline-block;
        text-align: center;
        .controlTime {
          font-size: 30px;
          font-family: $black-han-sans;
        }
      }
    }
  }
}
@include tablet {
  .fullscreen {
    margin: 0 auto;
    width: 80%;
  }
  .fullscreen-content {
    position: absolute;
    height: 100%;
    width: 100%;

    .fullscreen-img-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      .fullscreen-img {
        width: 100%;
        width: 100%;
      }
    }
    .fullscreen-content-wrap {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.9);
      text-align: center;
      .fullscreen-content-name-wrap {
        margin-top: 10%;
        width: 100%;
        .fullscreen-content-name {
          font-family: $spoqa-han-sans;
          font-size: 100px;
          color: white;
          font-weight: bold;
        }
      }
      .fullscreen-content-content-wrap-long {
        width: 100%;
        padding-left: 25%;
        padding-right: 25%;
        text-align: left;
        margin-top: 90px;
        .fullscreen-content-content-long {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 35px;
          color: white;
          line-height: 60px;
        }
      }
      .fullscreen-content-content-wrap {
        width: 100%;
        padding-left: 30%;
        padding-right: 30%;
        text-align: center;
        margin: 0 auto;
        margin-top: 90px;
        .fullscreen-content-content {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 70px;
          color: white;
        }
      }
    }
  }
  .feed {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    // 금요기도회 날짜
    .friday-date-wrap {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      .friday-date {
        font-family: $spoqa-han-sans;
        font-size: 35px;
        font-weight: lighter;
        // color: #2e5fd2;
      }
    }

    // 금요기도회 로고 이미지
    .friday-prayer-img-wrap {
      margin: 0 auto;
      margin-top: 100px;
      padding-bottom: 50px;

      text-align: center;
      width: 80%;
      background-color: white;
      margin-bottom: 30px;
      .friday-prayer-img {
        width: 20%;
        background-size: 100% 100%;
      }
    }

    // btn
    .btn-wrap {
      width: 100%;
      padding-top: 40px;
      margin: 0 auto;
      margin-top: 10px;
      .write-btn-wrap {
        display: inline-block;
        width: 50%;
        text-align: center;
        .write-btn {
          font-family: $black-han-sans;
          font-size: 30px;
          color: #1f4df4;
        }
      }
      .fullscreen-btn-wrap {
        display: inline-block;
        width: 50%;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 40px;
        .fullscreen-btn {
          font-family: $black-han-sans;
          font-size: 30px;
        }
      }
    }

    .pray-form-wrap {
      width: 100%;
      text-align: center;
      .pray-content-wrap {
        width: 100%;
        text-align: center;
      }
      .pray-content-btn-wrap {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: white;
        .pray-content-btn {
          width: 100%;
        }
      }
    }
    .praycontent {
      box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
        0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
      background-color: white;
      width: 95%;
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      margin-top: 15px;
      .praycontent-wrap {
        height: 60px;
        line-height: 60px;

        .praycontent-header-wrap {
          .praycontent-header-profile-wrap {
            padding-left: 15px;
            display: inline-block;
            .praycontent-header-profile {
              background-repeat: no-repeat center;
              background-color: #eaebee;
              border-radius: 50%;
              background-size: 100% 100%;
              width: 40px;
              height: 40px;
              border: 0;
            }
          }
          .praycontent-header-name-wrap {
            padding-left: 10px;
            display: inline-block;
            .praycontent-header-name {
              font-size: 18px;
              font-family: $spoqa-han-sans;
              font-weight: normal;
            }
          }
          .praycontent-header-date-wrap {
            padding-right: 10px;
            float: right;
            .praycontent-header-date {
              font-size: 16px;
              font-family: $spoqa-han-sans;
              font-weight: lighter;
            }
          }
        }
      }
      .praycontent-content-wrap {
        padding-left: 20px;
        padding-right: 10px;
        .praycontent-content {
          font-size: 16px;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          white-space: pre-line;
        }
      }
      .praycontent-content-btn-wrap {
        width: 100%;
        text-align: right;
        padding-right: 20px;
        .praycontent-content-modify-btn-wrap {
          margin-right: 20px;
          display: inline-block;
          .praycontent-content-modify-btn {
            font-size: 15px;
            font-family: $black-han-sans;
            color: green;
          }
        }
        .praycontent-content-delete-btn-wrap {
          display: inline-block;
          .praycontent-content-delete-btn {
            font-size: 15px;
            font-family: $black-han-sans;
            color: red;
          }
        }
      }
    }
    //  한 번에 열기 와 시간 조절 기능
    .feature-wrap {
      width: 100%;
      margin-bottom: 50px;
      .openContent-wrap {
        width: 50%;
        display: inline-block;
        text-align: center;
        .openContent {
          width: 100%;
          font-family: $black-han-sans;
          font-size: 30px;
        }
      }
      .timeClose-btn-wrap {
        width: 50%;
        display: inline-block;
        text-align: center;
        .timeClose-btn {
          width: 100%;
          font-family: $black-han-sans;
          font-size: 30px;
          color: red;
        }
      }
      .timeInput-wrap {
        margin-top: 50px;
        margin-bottom: 30px;
        width: 100%;
        display: block;
        text-align: center;
        font-family: $black-han-sans;
        .timeInput {
          width: 50%;
          display: inline-block;
          font-size: 40px;
          border: 1px solid #222222;
        }
        .timeInput-text {
          padding-left: 20px;
          display: inline-block;
          font-size: 40px;
        }
        .timeSubmit-btn-wrap-wrap {
          width: 50%;
          display: inline-block;
          .timeSubmit-btn-wrap {
            width: 100%;
            padding-top: 30px;
            .timeSubmit-btn {
              font-family: $black-han-sans;
              font-size: 30px;
              &:hover {
                color: grey;
              }
            }
          }
        }
      }
      .controlTime-wrap {
        width: 50%;
        display: inline-block;
        text-align: center;
        .controlTime {
          font-size: 30px;
          font-family: $black-han-sans;
        }
      }
    }
  }
}

@include desktop {
  .fullscreen {
    margin: 0 auto;
    width: 80%;
  }
  .fullscreen-content {
    position: absolute;
    height: 100%;
    width: 100%;

    .fullscreen-img-wrap {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      .fullscreen-img {
        width: 100%;
        width: 100%;
      }
    }
    .fullscreen-content-wrap {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.9);
      text-align: center;
      .fullscreen-content-name-wrap {
        margin-top: 10%;
        width: 100%;
        .fullscreen-content-name {
          font-family: $spoqa-han-sans;
          font-size: 100px;
          color: white;
          font-weight: bold;
        }
      }

      .fullscreen-content-content-300-wrap {
        width: 100%;
        padding-left: 27%;
        padding-right: 20%;
        text-align: left;
        margin-top: 80px;
        .fullscreen-content-content-300 {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 30px;
          line-height: 40px;
          color: white;
        }
      }

      .fullscreen-content-content-200-wrap {
        width: 100%;
        padding-left: 27%;
        padding-right: 20%;
        text-align: left;
        margin-top: 80px;
        .fullscreen-content-content-200 {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 35px;
          line-height: 60px;
          color: white;
        }
      }
      .fullscreen-content-content-100-wrap {
        width: 100%;
        padding-left: 27%;
        padding-right: 20%;
        text-align: left;
        margin-top: 90px;
        .fullscreen-content-content-100 {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 38px;
          line-height: 70px;
          color: white;
        }
      }
      .fullscreen-content-content-50-wrap {
        width: 100%;
        padding-left: 27%;
        padding-right: 10%;
        text-align: left;
        margin-top: 30px;
        .fullscreen-content-content-50 {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 50px;
          color: white;
          line-height: 100px;
        }
      }
      .fullscreen-content-content-20-wrap {
        width: 100%;
        padding-left: 33%;
        padding-right: 10%;
        text-align: left;
        margin-top: 80px;
        .fullscreen-content-content-20 {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 60px;
          line-height: 120px;
          color: white;
        }
      }
      .fullscreen-content-content-wrap {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        text-align: center;
        margin-top: 160px;
        .fullscreen-content-content {
          white-space: pre-line;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          font-size: 80px;
          line-height: 150px;
          color: white;
        }
      }
    }
  }
  .feed {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;

    // 금요기도회 날짜
    .friday-date-wrap {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      .friday-date {
        font-family: $spoqa-han-sans;
        font-size: 90px;
        font-weight: lighter;
        // color: #2e5fd2;
      }
    }

    // 금요기도회 로고 이미지
    .friday-prayer-img-wrap {
      margin: 0 auto;
      margin-top: 10px;
      padding-bottom: 50px;

      text-align: center;
      width: 80%;
      background-color: white;
      margin-bottom: 30px;
      .friday-prayer-img {
        width: 40%;
        background-size: 100% 100%;
      }
    }

    // btn
    .btn-wrap {
      width: 100%;
      padding-top: 40px;
      margin: 0 auto;
      margin-top: 10px;
      .write-btn-wrap {
        display: inline-block;
        width: 50%;
        text-align: center;
        .write-btn {
          font-family: $black-han-sans;
          font-size: 30px;
          color: #1f4df4;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .fullscreen-btn-wrap {
        display: inline-block;
        width: 50%;
        text-align: center;
        padding-top: 20px;
        margin-bottom: 40px;
        .fullscreen-btn {
          font-family: $black-han-sans;
          font-size: 30px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    //  한 번에 열기 와 시간 조절 기능
    .feature-wrap {
      width: 100%;
      margin-bottom: 50px;
      .openContent-wrap {
        width: 50%;
        display: inline-block;
        text-align: center;
        .openContent {
          width: 100%;
          font-family: $black-han-sans;
          font-size: 30px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .timeClose-btn-wrap {
        width: 50%;
        display: inline-block;
        text-align: center;
        .timeClose-btn {
          width: 100%;
          font-family: $black-han-sans;
          font-size: 30px;
          color: red;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .timeInput-wrap {
        margin-top: 50px;
        margin-bottom: 30px;
        width: 100%;
        display: block;
        text-align: center;
        font-family: $black-han-sans;
        .timeInput {
          width: 50%;
          display: inline-block;
          font-size: 40px;
          border: 1px solid #222222;
        }
        .timeInput-text {
          padding-left: 20px;
          display: inline-block;
          font-size: 40px;
          &:hover {
            cursor: pointer;
          }
        }
        .timeSubmit-btn-wrap-wrap {
          width: 50%;
          display: inline-block;
          .timeSubmit-btn-wrap {
            width: 100%;
            padding-top: 30px;
            .timeSubmit-btn {
              font-family: $black-han-sans;
              font-size: 30px;
              &:hover {
                color: grey;
                cursor: pointer;
              }
            }
          }
        }
      }
      .controlTime-wrap {
        width: 50%;
        display: inline-block;
        text-align: center;
        .controlTime {
          font-size: 30px;
          font-family: $black-han-sans;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .pray-form-wrap {
      width: 100%;
      text-align: center;
      .pray-content-wrap {
        width: 100%;
        text-align: center;
      }
      .pray-content-btn-wrap {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: white;
        .pray-content-btn {
          width: 100%;
        }
      }
    }
    .praycontent {
      box-shadow: 0 30px 60px 12px rgba(0, 0, 33, 0.05),
        0 4px 24px 0 rgba(0, 0, 33, 0.05), 0 0 1px 0 rgba(0, 0, 33, 0.09);
      background-color: white;
      width: 95%;
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
      margin-top: 15px;
      .praycontent-wrap {
        height: 60px;
        line-height: 60px;

        .praycontent-header-wrap {
          .praycontent-header-profile-wrap {
            padding-left: 15px;
            display: inline-block;
            .praycontent-header-profile {
              background-repeat: no-repeat center;
              background-color: #eaebee;
              border-radius: 50%;
              background-size: 100% 100%;
              width: 40px;
              height: 40px;
              border: 0;
            }
          }
          .praycontent-header-name-wrap {
            padding-left: 10px;
            display: inline-block;
            .praycontent-header-name {
              font-size: 18px;
              font-family: $spoqa-han-sans;
              font-weight: normal;
            }
          }
          .praycontent-header-date-wrap {
            padding-right: 10px;
            float: right;
            .praycontent-header-date {
              font-size: 16px;
              font-family: $spoqa-han-sans;
              font-weight: lighter;
            }
          }
        }
      }
      .praycontent-content-wrap {
        padding-left: 20px;
        padding-right: 10px;
        .praycontent-content {
          font-size: 16px;
          font-family: $spoqa-han-sans;
          font-weight: normal;
          white-space: pre-line;
        }
      }
      .praycontent-content-btn-wrap {
        width: 100%;
        text-align: right;
        padding-right: 20px;
        .praycontent-content-modify-btn-wrap {
          margin-right: 20px;
          display: inline-block;
          .praycontent-content-modify-btn {
            font-size: 15px;
            font-family: $black-han-sans;
            color: green;
            &:hover {
              cursor: pointer;
            }
          }
        }
        .praycontent-content-delete-btn-wrap {
          display: inline-block;
          .praycontent-content-delete-btn {
            font-size: 15px;
            font-family: $black-han-sans;
            color: red;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .pagination-wrap {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 50px;
      .before-wrap {
        text-align: center;
        width: 50%;
        display: inline-block;
        .before {
          font-family: $black-han-sans;
          font-size: 20px;
          font-weight: normal;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .next-wrap {
        text-align: center;
        width: 50%;
        display: inline-block;
        .next {
          font-family: $black-han-sans;
          font-size: 20px;
          font-weight: normal;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
