@import "./color.scss";
@import "./mixin.scss";

@include mobile {
  body {
    padding-top: 50px;
  }
  #navigation {
    z-index: 30;
    width: 100%;
    transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    position: fixed;
    top: 0;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    // background-color: white;
    &.hide {
      transform: translate3d(0, -50vh, 0);
      overflow: hidden;
      .navigation-logo-wrap {
        display: inline-block;
        width: 70%;
        text-align: left;
        margin-top: 10px;
        padding-left: 5px;
        .navigation-logo {
          width: 70%;
        }
      }
      .navigation-menu-icon-wrap {
        display: inline-block;
        width: 30%;
        padding-right: 20px;
        text-align: right;
        .navigation-menu-icon {
          width: 30%;
        }
      }
    }
    &.show {
      transform: translate3d(0, 0, 0);
      overflow: hidden;
      .navigation-logo-wrap {
        display: inline-block;
        width: 70%;
        text-align: left;
        margin-top: 10px;
        padding-left: 5px;
        .navigation-logo {
          width: 70%;
        }
      }
      .navigation-menu-icon-wrap {
        display: inline-block;
        width: 30%;
        padding-right: 20px;
        text-align: right;
        .navigation-menu-icon {
          width: 30%;
        }
      }
    }
  }
  .navigation--hidden {
    z-index: 1;
    width: 100%;
    position: fixed;
    top: -60px;
    height: 60px;

    background-color: rgba(255, 255, 255, 0.6);
    .navigation-logo-wrap {
      display: inline-block;
      width: 70%;
      text-align: left;
      margin-top: 10px;
      padding-left: 5px;
      .navigation-logo {
        width: 70%;
      }
    }
    .navigation-menu-icon-wrap {
      display: inline-block;
      width: 30%;
      padding-right: 20px;
      text-align: right;
      .navigation-menu-icon {
        width: 30%;
      }
    }
  }

  .menu {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate3d(-100vw, 0, 0);
    width: 30vw;
    height: 100vh;
  }
}
#menu-visible {
  width: 42vw;
  height: 100%;
  background-color: #222222;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  overflow: scroll;
  z-index: 1000;
  // border-right: 1px solid rgba(255, 255, 255, 0.1);
  &.hide {
    transform: translate3d(140vw, 0, 0);
    overflow: hidden;
    .menu-visible-header {
      width: 100%;
      height: 15vh;
      color: rgba(255, 255, 255, 0.6);
      text-align: right;
      padding-top: 15px;
      padding-right: 15px;
      .menu-visible-header-text {
        font-size: 15px;
      }
    }
    .menu-visible-link-wrap {
      width: 100%;
      text-align: right;
      .menu-visible-link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 10px;
        .menu-visible-link-text {
          color: inherit;
          text-decoration: inherit;
          .menu-visible-span {
            font-size: 20px;
            color: white;
          }
        }
      }
    }
  }
  &.show {
    transform: translate3d(61vw, 0, 0);
    overflow: hidden;
    .menu-visible-header {
      width: 100%;
      height: 15vh;
      color: rgba(255, 255, 255, 0.6);
      text-align: right;
      padding-top: 15px;
      padding-right: 15px;
      .menu-visible-header-text {
        font-size: 15px;
      }
    }
    .menu-visible-link-wrap {
      width: 100%;
      text-align: right;
      .menu-visible-link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 15px;
        .menu-visible-link-text {
          color: inherit;
          text-decoration: inherit;
          .menu-visible-span {
            font-size: 20px;
            color: white;
          }
        }
      }
    }
  }
}
// <div className="navigaion">
//       <div className="navigation-logo-wrap">
//         <img className="navigation-logo" src="./churchbook.png" alt="logo" />
//       </div>
//       <div className="navigation-menu-icon-wrap">
//         <img
//           className="navigation-menu-icon"
//           src="./icons8-menu.png"
//           alt="menu-icon"
//         />
//       </div>
@include tablet {
}

@include desktop {
}
